@font-face {
  font-family: rs_thin;
  src: url(./fonts/roboto_slab/thin.ttf);
}

@font-face {
  font-family: rs_light;
  src: url(./fonts/roboto_slab/light.ttf);
}

@font-face {
  font-family: rs_regular;
  src: url(./fonts/roboto_slab/regular.ttf);
}

@font-face {
  font-family: rs_bold;
  src: url(./fonts/roboto_slab/bold.ttf);
}

@font-face {
  font-family: rs_black;
  src: url(./fonts/roboto_slab/black.ttf);
}

/* //////////// */

@font-face {
  font-family: rw_thin;
  src: url(./fonts/raleway/thin.ttf);
}

@font-face {
  font-family: rw_light;
  src: url(./fonts/raleway/light.ttf);
}

@font-face {
  font-family: rw_regular;
  src: url(./fonts/raleway/regular.ttf);
}

@font-face {
  font-family: rw_bold;
  src: url(./fonts/raleway/bold.ttf);
}

@font-face {
  font-family: rw_black;
  src: url(./fonts/raleway/black.ttf);
}

* {
  font-family: rw_regular;
  font-weight: 100;
}
